<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font-icon's style CSS -->
    <link rel="stylesheet" href="~/css/font_icons.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <title>@ViewData["Title"]</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light border py-4">
            <div class="container-fluid">
                <a href="#" class="navbar-brand fw-bold fs-2 ms-sm-1 ms-md-2 ms-lg-3 ms-xl-4 ms-xxl-5">
                    <span class="text-primary-cs">Feveros</span>
                </a>

                <!-- Toggle-collapse button -->
                <button class="navbar-toggler border" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navigations">
                    <span class="navbar-toggler-icon"></span>
                </button>

                    <!-- Navigation links -->
                <div class="collapse navbar-collapse justify-content-end" id="navigations">
                    <div class="navbar-nav">
                        <a class="nav-link active fw-bold mx-sm-1 mx-md-2 mx-lg-3 mx-xl-4 mx-xxl-5" href="#">Travel</a>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle mx-sm-1 mx-md-2 mx-lg-3 mx-xl-4 mx-xxl-5" href="#"
                                data-bs-toggle="dropdown">PHP ₱</a>

                            <ul class="dropdown-menu">
                                @* To be logical, the currency is PHP only to focus on what matters that is
                                to use a DB. *@
                                <li><a class="dropdown-item active bg-secondary" href="#">PHP ₱</a></li>
                                @* <li><a class="dropdown-item" href="#">USD $</a></li>
                                <li><a class="dropdown-item" href="#">EUR €</a></li>
                                <li><a class="dropdown-item" href="#">GBP £</a></li> *@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="container-fluid d-sm-flex align-items-sm-center justify-content-sm-around mt-3 py-md-5 border">
        <!-- Brand name and social media -->
        <section>
            <div class="row row-cols-1 gy-3">
                <div class="col text-center fs-1 fw-bold text-primary-cs">
                   Feveros
                </div>
                <div class="col d-flex justify-content-center px-5 px-md-1">
                    <a href="" class="my-icon-instagram_1 fs-1 text-primary-cs text-decoration-none"></a>
                    <a href="" class="my-icon-twitter_1 fs-1 text-primary-cs text-decoration-none px-3"></a>
                    <a href="" class="my-icon-linkedin_1 fs-1 text-primary-cs text-decoration-none pe-3"></a>
                    <a href="" class="my-icon-facebook_1 fs-1 text-primary-cs text-decoration-none"></a>
                </div>
            </div>
        </section>

        <!-- Company platform features -->
        <section class="d-flex flex-column flex-sm-row align-items-stretch justify-content-sm-around me-sm-3 flex-sm-grow-1">
            <div class="d-flex flex-column align-items-center align-items-sm-start mt-4 mt-sm-2">
                <div class="fw-bold fs-5">Company</div>
                <div><a class="text-decoration-underline text-dark" href="#">Terms & Condtion</a></div>
                <div class="my-2"><a class="text-decoration-underline text-dark" href="#">Terms of Use</a></div>
                <div><a class="text-decoration-underline text-dark" href="#">Privacy policy</a></div>
            </div>

            <div class="d-flex flex-column align-items-center align-items-sm-start mt-2 mt-sm-2 mx-sm-3 mx-md-0">
                <div class="fw-bold fs-5">Platform</div>
                <div><a class="text-decoration-underline text-dark" href="#">About</a></div>
                <div class="mt-2"><a class="text-decoration-underline text-dark" href="#">People</a></div>
            </div>

            <div class="d-flex flex-column align-items-center align-items-sm-start mt-2 mt-sm-2">
                <div class="fw-bold fs-5">Features</div>
                <div><a class="text-decoration-underline text-dark" href="#">Sign in</a></div>
                <div class="mt-2"><a class="text-decoration-underline text-dark" href="#">Register</a></div>
            </div>
        </section>
    </footer> 

      <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <script src="~/js/custom.js"></script>
    
    @RenderSection("scripts", false)
</body>

</html>
