@RenderBody()
<!-- Modal for no. of passengers and bags -->
<div class="modal fade" tabindex="-1" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">No. of passengers and bags</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Passengers -->
                <h6>Passengers</h6>

                <hr>
                <!-- Types of passenger -->
                <!-- Adult -->
                <div class="row justify-content-sm-center border py-2">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span class="my-icon-adult fs-5"></span>
                    </div>
                    <div class="col-10 col-sm-2 d-flex justify-content-center">
                        <div class="row row-cols-1">
                            <div class="col text-center">Adults</div>
                            <div class="col text-center text-black-50 fw-light">Over 11</div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-auto d-flex justify-content-end justify-content-sm-end">
                        <button class="btn border bg-light rounded" style="width: 45px;"> - </button>
                    </div>
                    <div class="col-4 col-sm-2">
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-4 col-sm-auto d-flex justify-content-start justify-content-sm-start">
                        <button class="btn border bg-light rounded" style="width: 45px;"> + </button>
                    </div>
                </div>
                <!-- Child -->
                <div class="row justify-content-sm-center border my-2 py-2">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span class="my-icon-child fs-5"></span>
                    </div>
                    <div class="col-10 col-sm-2 d-flex justify-content-center">
                        <div class="row row-cols-1">
                            <div class="col text-center">Children</div>
                            <div class="col text-center text-black-50 fw-light">2-11</div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-auto d-flex justify-content-end justify-content-sm-end">
                        <button class="btn border bg-light rounded" style="width: 45px;"> - </button>
                    </div>
                    <div class="col-4 col-sm-2">
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-4 col-sm-auto d-flex justify-content-start justify-content-sm-start">
                        <button class="btn border bg-light rounded" style="width: 45px;"> + </button>
                    </div>
                </div>
                <!-- Infant -->
                <div class="row justify-content-sm-center border py-2">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span class="my-icon-infant fs-5"></span>
                    </div>
                    <div class="col-10 col-sm-2 d-flex justify-content-center">
                        <div class="row row-cols-1">
                            <div class="col text-center">Infants</div>
                            <div class="col text-center text-black-50 fw-light">Under 2</div>
                        </div>
                    </div>
                    <div class="col-4 col-sm-auto d-flex justify-content-end justify-content-sm-end">
                        <button class="btn border bg-light rounded" style="width: 45px;"> - </button>
                    </div>
                    <div class="col-4 col-sm-2">
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-4 col-sm-auto d-flex justify-content-start justify-content-sm-start">
                        <button class="btn border bg-light rounded" style="width: 45px;"> + </button>
                    </div>
                </div>
                <!-- Bags -->
                <h6 class="mt-3">Bags</h6>

                <hr>
                <!-- Types of bag -->
                <!-- Cabin bag -->
                <div class="row justify-content-sm-center border py-2">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span class="my-icon-cabin_bag fs-5"></span>
                    </div>
                    <div class="col-10 col-sm-2 d-flex justify-content-center">
                        Cabin bags
                    </div>
                    <div class="col-4 col-sm-auto d-flex justify-content-end justify-content-sm-end">
                        <button class="btn border bg-light rounded" style="width: 45px;"> - </button>
                    </div>
                    <div class="col-4 col-sm-2">
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-4 col-sm-auto d-flex justify-content-start justify-content-sm-start">
                        <button class="btn border bg-light rounded" style="width: 45px;"> + </button>
                    </div>
                </div>
                <!-- Checked bag -->
                <div class="row justify-content-sm-center border mt-2 py-2">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span class="my-icon-checked_bag fs-5"></span>
                    </div>
                    <div class="col-10 col-sm-2 d-flex justify-content-center">
                        Checked bags
                    </div>
                    <div class="col-4 col-sm-auto d-flex justify-content-end justify-content-sm-end">
                        <button class="btn border bg-light rounded" style="width: 45px;"> - </button>
                    </div>
                    <div class="col-4 col-sm-2">
                        <input type="number" class="form-control">
                    </div>
                    <div class="col-4 col-sm-auto d-flex justify-content-start justify-content-sm-start">
                        <button class="btn border bg-light rounded" style="width: 45px;"> + </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn bg-secondary-cs text-white"
                            data-bs-dismiss="modal">
                        Done
                    </button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>