@font-face {
  font-family: 'my_icons';
  src:
    url('../misc/fonts/my_icons.ttf?coqpi5') format('truetype'),
    url('../misc/fonts/my_icons.woff?coqpi5') format('woff'),
    url('../misc/fonts/my_icons.svg?coqpi5#my_icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="my-icon-"], [class*=" my-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my_icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-icon-more:before {
  content: "\e90f";
}
.my-icon-from_to_flight:before {
  content: "\e910";
}
.my-icon-dickyknows:before {
  content: "\e90b";
  color: #f2f2f2;
}
.my-icon-facebook_2:before {
  content: "\e90c";
}
.my-icon-instagram_2:before {
  content: "\e90d";
}
.my-icon-linkedin_2:before {
  content: "\e90e";
}
.my-icon-adult:before {
  content: "\e904";
}
.my-icon-cabin_bag:before {
  content: "\e905";
}
.my-icon-checked_bag:before {
  content: "\e906";
}
.my-icon-child:before {
  content: "\e907";
}
.my-icon-infant:before {
  content: "\e908";
}
.my-icon-luggage:before {
  content: "\e909";
}
.my-icon-people:before {
  content: "\e90a";
}
.my-icon-facebook_1:before {
  content: "\e900";
}
.my-icon-instagram_1:before {
  content: "\e901";
}
.my-icon-linkedin_1:before {
  content: "\e902";
}
.my-icon-twitter_1:before {
  content: "\e903";
}
